@import 'tailwindcss';
@plugin "@tailwindcss/typography";

/* xs: '480px',
sm: '640px',
md: '768px',
lg: '1024px',
xl: '1280px',
'2xl': '1536px', */

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-main: Georgia;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --wwwashed-pink: #f06598;
  }
}

/* 
*, html, body {
  box-sizing: border-box;
}

html {
  background: yellow;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}

html, body {
  display: block;
} */

.site-main {
  width: 100%;
  max-width: 666px;
}

.sit3-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
}

.font {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
}

header, h3 {
  margin: 0;
}