@import 'tailwindcss';
@plugin "@tailwindcss/typography";



/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    width: 100vw;
    overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
}

/* xs: '480px',
sm: '640px',
md: '768px',
lg: '1024px',
xl: '1280px',
'2xl': '1536px', */

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-main: Georgia;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --wwwashed-pink: #f06598;
  }
}

/* 
*, html, body {
  box-sizing: border-box;
}

html {
  background: yellow;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}

html, body {
  display: block;
} */

html, body {
  max-width: 100%;
  overflow-x: clip;   /* or: overflow-x: hidden; for wider support */
  overflow-y: auto;
}

body {
  padding: 0 1rem;
}

.sit3-grid {
  display: flex;
  gap: 1rem;
}

.sit3-grid .nav-column {
  flex-basis: 35%;
  max-width: 150px;
  flex-grow: 1;
}

.site-main {
  flex-basis: 65%;
  flex-shrink: 2;
}

.font {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
}

header, h3 {
  margin: 0;
}